body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  background-color: #fff;
}

.calculator {
  background-color: #ffeaab;
  border-radius: 2rem;
  padding: 3rem;
  text-align: center;
  width: 350px;
}

h1 {
  margin-bottom: 3rem;
}

#result {
  background-color: black;
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

input {
  width: 120px;
  padding: 10px;
  margin: 5px;
  border: 3px solid #969292;
  border-radius: 10px;
}

button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background-color: #ddd;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #847f7f;
}

button:last-child {
  background-color: #f75f39;
  color: white;
}

button:last-child:hover {
  background-color: rgb(255, 0, 0);
  color: #000;
}

.value {
  display: flex;
}
