#home {
  #banner {
    background-color: $bg-color;
    .banner {
      @include flexbox();
      position: relative;
      .banner-text {
        gap: 2rem;
        #modern {
          font-size: 16px;
          line-height: 32px;
          color: $primary-color;
          text-transform: uppercase;
        }
        h1 {
          font-size: 72px;
          line-height: 80px;
          color: $text-white;
          position: relative;
          z-index: 1;
        }
        p {
          color: $text-white;
          opacity: 0.64;
          font-size: 16px;
          line-height: 32px;
        }
        .button {
          .btn2 {
            @extend %button2;
            &:hover {
              border: 4px solid blueviolet;
            }
          }
          .btn3 {
            @extend %button3;
          }
        }
        .star {
          position: absolute;
          //   right: 20%;
          //   top: 0;
          z-index: 1;
        }
        .feedback {
          display: flex;
          #test {
            color: $text-white;
            font-size: 10px;
          }
        }
      }
    }
  }
}

#partners {
  padding: 3.5rem;
  .partner {
    @include for-phone-only();
    width: 296px;
    height: 170px;
  }
}
hr {
  color: bisque;
}

#experience {
  padding: 2rem;
  background-color: $bg-color2;
  .experience {
    display: flex;
    gap: 12rem;
    @media for-phone-only {
      display: flex;
      flex-direction: column;
    }
    .experiemce-image {
      @media for-phone-only {
        width: 329px;
        height: 340px;
      }
    }
    .experience-text {
      gap: 3rem;
      margin-top: 100px;
      p {
        font-size: 16px;
        line-height: 32px;
        color: #391400a3;
        opacity: 0.64;
      }
      span {
        font-size: 20px;
        line-height: 32px;
        color: #391400;
      }
      .btn4 {
        @extend %button4;
      }
    }
  }
}

#table {
  background-color: $bg-color2;
  padding: 6rem;
  .table {
    display: flex;
    justify-content: center;
    .box {
      width: 300px;
      height: 150px;
      border: 1px solid #f3d1bf;

      h3 {
        color: $text-color;
        font: bold;
        text-align: left;
        padding: 2rem;
      }
      p {
        padding: 0 1rem;
      }
    }
  }
}
