@mixin flexbox ($justify-content: space-between, $align-items: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin for-phone-only()  {
  @media  only screen and (max-width: 767px) {
      @content;
  }
}

@mixin for-tablet-up() {
  @media only screen and (max-width: 1023px){
      @content;
  }
}

@mixin for-desktop-up() {
 @media only screen and (min-width: 1024px) {
@content;}
}