@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  /* HTML5 display-role reset for older browsers */
  /* HTML5 hidden-attribute fix for newer browsers */
}
* html, * body, * div, * span, * applet, * object, * iframe,
* h1, * h2, * h3, * h4, * h5, * h6, * p, * blockquote, * pre,
* a, * abbr, * acronym, * address, * big, * cite, * code,
* del, * dfn, * em, * img, * ins, * kbd, * q, * s, * samp,
* small, * strike, * strong, * sub, * sup, * tt, * var,
* b, * u, * i, * center,
* dl, * dt, * dd, * ol, * ul, * li,
* fieldset, * form, * label, * legend,
* table, * caption, * tbody, * tfoot, * thead, * tr, * th, * td,
* article, * aside, * canvas, * details, * embed,
* figure, * figcaption, * footer, * header, * hgroup,
* main, * menu, * nav, * output, * ruby, * section, * summary,
* time, * mark, * audio, * video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
* article, * aside, * details, * figcaption, * figure,
* footer, * header, * hgroup, * main, * menu, * nav, * section {
  display: block;
}
* *[hidden] {
  display: none;
}
* body {
  line-height: 1;
}
* menu, * ol, * ul {
  list-style: none;
}
* blockquote, * q {
  quotes: none;
}
* blockquote:before, * blockquote:after,
* q:before, * q:after {
  content: "";
  content: none;
}
* table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 72px;
  line-height: 80px;
}
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 56px;
  }
}

h2 {
  font-size: 56px;
  line-height: 64px;
}
@media only screen and (max-width: 767px) {
  h2 {
    font-size: 46px;
  }
}

h3 {
  font-size: 40px;
  line-height: 48px;
}

h4 {
  font-size: 24px;
  line-height: 32px;
}

h5 {
  font-size: 16px;
  line-height: 32px;
  color: #EF6D58;
}
@media for-phone-only {
  h5 {
    font-size: 16px;
    line-height: 32px;
  }
}

header .btn1 {
  color: #fff;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 6px;
  background-color: transparent;
  border: 2px solid #4f5061;
  font-weight: bold;
  text-transform: uppercase;
}

#home #banner .banner .banner-text .button .btn2 {
  color: #fff;
  font-size: 14px;
  padding: 10px 1rem;
  border-radius: 6px;
  background-color: #EF6D58;
  border: 2px solid #EF6D58;
}

#home #banner .banner .banner-text .button .btn3 {
  color: #fff;
  font-size: 14px;
  padding: 10px 1rem;
  border-radius: 6px;
  background-color: transparent;
}

#experience .experience .experience-text .btn4 {
  color: #391400;
  background-color: #fff;
  padding: 0.5rem 1.5rem;
  border: 2px solid transparent;
  border-radius: 6px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold",  sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 5%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.3333333333%;
  padding: 1rem;
}

.col-2 {
  width: 16.6666666667%;
  padding: 1rem;
}

.col-3 {
  width: 25%;
  padding: 1rem;
}

.col-4 {
  width: 33.3333333333%;
  padding: 1rem;
}

.col-5 {
  width: 50%;
  padding: 1rem;
}

.col-6 {
  width: 50%;
  padding: 1rem;
}

.col-7 {
  width: 58.3333333333%;
  padding: 1rem;
}

.col-8 {
  width: 66.6666666667%;
  padding: 1rem;
}

.col-9 {
  width: 75%;
  padding: 1rem;
}

.col-10 {
  width: 83.3333333333%;
  padding: 1rem;
}

.col-11 {
  width: 91.6666666667%;
  padding: 1rem;
}

.col-12 {
  width: 100%;
  padding: 1rem;
}

.p-start-0 {
  padding-left: 0;
}

@media only screen and (max-width: 1023px) {
  .col-md-1 {
    width: 8.3333333333%;
    padding: 1rem;
  }
  .col-md-2 {
    width: 16.6666666667%;
    padding: 1rem;
  }
  .col-md-3 {
    width: 25%;
    padding: 1rem;
  }
  .col-md-4 {
    width: 33.3333333333%;
    padding: 1rem;
  }
  .col-md-5 {
    width: 50%;
    padding: 1rem;
  }
  .col-md-6 {
    width: 50%;
    padding: 1rem;
  }
  .col-md-7 {
    width: 58.3333333333%;
    padding: 1rem;
  }
  .col-md-8 {
    width: 66.6666666667%;
    padding: 1rem;
  }
  .col-md-9 {
    width: 75%;
    padding: 1rem;
  }
  .col-md-10 {
    width: 83.3333333333%;
    padding: 1rem;
  }
  .col-md-11 {
    width: 91.6666666667%;
    padding: 1rem;
  }
  .col-md-12 {
    width: 100%;
    padding: 1rem;
  }
  .p-md-start-0 {
    padding-left: 0;
  }
}
@media only screen and (max-width: 767px) {
  .col-sm-1 {
    width: 8.3333333333%;
    padding: 1rem;
  }
  .col-sm-2 {
    width: 16.6666666667%;
    padding: 1rem;
  }
  .col-sm-3 {
    width: 25%;
    padding: 1rem;
  }
  .col-sm-4 {
    width: 33.3333333333%;
    padding: 1rem;
  }
  .col-sm-5 {
    width: 50%;
    padding: 1rem;
  }
  .col-sm-6 {
    width: 50%;
    padding: 1rem;
  }
  .col-sm-7 {
    width: 58.3333333333%;
    padding: 1rem;
  }
  .col-sm-8 {
    width: 66.6666666667%;
    padding: 1rem;
  }
  .col-sm-9 {
    width: 75%;
    padding: 1rem;
  }
  .col-sm-10 {
    width: 83.3333333333%;
    padding: 1rem;
  }
  .col-sm-11 {
    width: 91.6666666667%;
    padding: 1rem;
  }
  .col-sm-12 {
    width: 100%;
    padding: 1rem;
  }
  .p-sm-start-0 {
    padding-left:  0;
  }
}
header {
  background-color: #28293E;
}
header .header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;
  gap: 5rem;
}
header nav ul li a {
  font-size: 1.5rem;
  color: #fff;
}
#home #banner {
  background-color: #28293E;
}
#home #banner .banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
#home #banner .banner .banner-text {
  gap: 2rem;
}
#home #banner .banner .banner-text #modern {
  font-size: 16px;
  line-height: 32px;
  color: #EF6D58;
  text-transform: uppercase;
}
#home #banner .banner .banner-text h1 {
  font-size: 72px;
  line-height: 80px;
  color: #fff;
  position: relative;
  z-index: 1;
}
#home #banner .banner .banner-text p {
  color: #fff;
  opacity: 0.64;
  font-size: 16px;
  line-height: 32px;
}
#home #banner .banner .banner-text .button .btn2:hover {
  border: 4px solid blueviolet;
}
#home #banner .banner .banner-text .star {
  position: absolute;
  z-index: 1;
}
#home #banner .banner .banner-text .feedback {
  display: flex;
}
#home #banner .banner .banner-text .feedback #test {
  color: #fff;
  font-size: 10px;
}

#partners {
  padding: 3.5rem;
}
#partners .partner {
  width: 296px;
  height: 170px;
}
hr {
  color: bisque;
}

#experience {
  padding: 2rem;
  background-color:   #FDF0E9;
}
#experience .experience {
  display: flex;
  gap: 12rem;
}
@media for-phone-only {
  #experience .experience {
    display: flex;
    flex-direction: column;
  }
}
@media for-phone-only {
  #experience .experience .experiemce-image {
    width: 329px;
    height: 340px;
  }
}
#experience .experience .experience-text {
  gap: 3rem;
  margin-top: 100px;
}
#experience .experience .experience-text p {
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.6392156863);
  opacity: 0.64;
}
#experience .experience .experience-text span {
  font-size: 20px;
  line-height: 32px;
  color: #391400;
}
#table {
  background-color:   #FDF0E9;
  padding: 6rem;
}
#table .table {
  display: flex;
  justify-content: center;
}
#table .table .box {
  width: 300px;
  height: 150px;
  border: 1px solid #f3d1bf;
}
#table .table .box h3 {
  color: #391400;
  font: bold;
  text-align: left;
  padding: 2rem;
}
#table .table .box p {
  padding: 0 1rem;
}/*# sourceMappingURL=main.css.map */