* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
  font-family: sans-serif;
  opacity: 1;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: white;
}
header .header nav ul {
  justify-content: center;
  display: flex;
  gap: 6rem;
}
header .header nav ul li a {
  color: black;
}
header .header {
  height: 60px;
  display: flex;
  align-items: center;
}
.left {
  margin-top: 65px;
  width: 25%;
}
.image {
  width: 5rem;
  height: 6rem;
}
main .container {
display: flex;
  /* flex-wrap: wrap; */
}
.box {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin-top: 65px;
  flex-direction: row;

}
 .right .name{
    font-size:1.5rem;
    color: black;
}