.test{
    border-style: solid;
  border-width: 10px;
  border height: 20px;

}
.front{
    background-color: hotpink;
    border-style: solid;
    border-width: 10px;
    border height: 20px;
    
}
.vusale{
    border-style: solid;
    border-width: 10px;
    border height: 20px;
}