* {
  /* HTML5 display-role reset for older browsers */
  /* HTML5 hidden-attribute fix for newer browsers */
}
* html, * body, * div, * span, * applet, * object, * iframe,
* h1, * h2, * h3, * h4, * h5, * h6, * p, * blockquote, * pre,
* a, * abbr, * acronym, * address, * big, * cite, * code,
* del, * dfn, * em, * img, * ins, * kbd, * q, * s, * samp,
* small, * strike, * strong, * sub, * sup, * tt, * var,
* b, * u, * i, * center,
* dl, * dt, * dd, * ol, * ul, * li,
* fieldset, * form, * label, * legend,
* table, * caption, * tbody, * tfoot, * thead, * tr, * th, * td,
* article, * aside, * canvas, * details, * embed,
* figure, * figcaption, * footer, * header, * hgroup,
* main, * menu, * nav, * output, * ruby, * section, * summary,
* time, * mark, * audio, * video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
* article, * aside, * details, * figcaption, * figure,
* footer, * header, * hgroup, * main, * menu, * nav, * section {
  display: block;
}
* *[hidden] {
  display: none;
}
* body {
  line-height: 1;
}
* menu, * ol, * ul {
  list-style: none;
}
* blockquote, * q {
  quotes: none;
}
* blockquote:before, * blockquote:after,
* q:before, * q:after {
  content: "";
  content: none;
}
* table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clc {
  background-color: white;
  border: 1px solid transparent;
  border-radius: 30px;
  height: 4rem;
  width: 15rem;
  font-size: 1rem;
}
.clc:hover {
  background-color: transparent;
  border: 1px solid white;
  color: black;
  transition: 0.5s;
}

.btn1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #F6214B;
  border: 1px solid transparent;
  border-radius: 30px;
  height: 4rem;
  width: 15rem;
  font-size: 1rem;
}
.btn1:hover {
  background-color: transparent;
  border: 1px solid white;
  transition: 0.5s;
}

.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 7rem;
  padding-bottom: 3rem;
}
.inputs .input1 {
  width: 15rem;
  height: 2.5rem;
}
.inputs .input2 {
  width: 15rem;
  height: 2.5rem;
}

header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
header .header .contact .fa-solid {
  background-color: red;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header .contact p {
  margin-right: 1rem;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav ul li {
  padding: 1rem;
}
nav ul li a {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

#banner .banner {
  background-image: url(https://preview.colorlib.com/theme/gym/img/header-bg.jpg);
  height: 110vh;
}
#banner .banner h1 {
  font-size: 4rem;
  padding-top: 8rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#banner .banner p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
}

#about .about-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#about .about-main h2 {
  margin-top: 7rem;
  font-size: 3rem;
}
#about .about-main p {
  padding-bottom: 4rem;
  opacity: 0.6;
}
#about .about-cards {
  gap: 2rem;
  padding-left: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
  padding-top: 2rem;
}
#about .about-cards .card {
  box-shadow: #F6214B 0px 8px 24px, #F6214B 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 300px;
  background-color: white;
}
#about .about-cards .card .card-image {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about .about-cards .card h3 {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding-top: 1rem;
}
#about .about-cards .card p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 4rem;
  line-height: 2rem;
  opacity: 0.6;
}

#-offer {
  background-color: #F6214B;
}
#-offer .offer-text {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#-offer .offer-text h2 {
  font-size: 3rem;
  color: white;
}
#-offer .offer-text p {
  color: white;
}

#course .course-text {
  margin-top: 7rem;
  text-align: center;
  line-height: 2rem;
}
#course .course-text h2 {
  font-size: 3rem;
  line-height: 3rem;
}
#course .course-text p {
  font-size: 1rem;
  opacity: 0.6;
}
#course .members {
  padding: 3rem;
}
#course .members .row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  gap: 2rem;
}
#course .members .row .member-col-4 {
  background-image: url(https://preview.colorlib.com/theme/gym/img/c1.jpg);
  width: 330px;
  height: 200px;
  position: relative;
}
#course .members .row .member-col-4:hover {
  transform: scale(1.1);
}
#course .members .row .member-col-4 h4 {
  position: absolute;
  bottom: 20px;
  left: 10px;
  background-color: #F6214B;
  width: 200px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#process .process-text {
  text-align: center;
  margin-top: 7rem;
}
#process .process-text h2 {
  font-size: 3rem;
}
#process .process-text p {
  font-size: 1rem;
  opacity: 0.6;
}
#process .tables table {
  gap: 5rem;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo .last {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#logo .last .item3:hover {
  color: black;
  opacity: 1;
}

#photo .photo-text {
  background-image: url(https://preview.colorlib.com/theme/gym/img/callto-bg.jpg);
  height: 400px;
}
#photo .photo-text h1 {
  padding-top: 8rem;
  font-size: 4rem;
  color: white;
  text-align: center;
}
#photo .photo-text p {
  color: white;
  font-size: 1rem;
  text-align: center;
}

#letter {
  margin-top: 1rem;
  color: white;
}

.mail {
  color: white;
}

#email {
  padding: 8px;
  margin-top: 20px;
  border-radius: 30px;
  width: 350px;
  position: relative;
}

.message {
  width: 100%;
}

#final {
  margin-top: 5rem;
  height: 400px;
}
#final .wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#final .wrap .left {
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  height: 400px;
}
#final .wrap .left .about {
  width: 100%;
  height: 200px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#final .wrap .left .about h6 {
  font-size: 25px;
  padding: 5px;
}
#final .wrap .left .contact {
  font-size: 28px;
  width: 100%;
  height: 200px;
}
#final .wrap .left .contact #id {
  font-size: 30px;
  color: hsl(44, 85%, 62%);
}
#final .wrap .left p {
  font-size: 30px;
  color: hsl(44, 85%, 62%);
}
#final .wrap #email {
  padding: 8px;
  margin-top: 20px;
  border-radius: 30px;
  width: 350px;
  position: relative;
}/*# sourceMappingURL=main.css.map */