%button1 {
    color: $text-white;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 6px;
    background-color: transparent;
    border: 2px solid #4f5061;
    font-weight: bold;
    text-transform: uppercase;
}
%button2 {
    color: $text-white;
    font-size: 14px;
    padding: 10px 1rem;
    border-radius: 6px;
    background-color: $primary-color ;
    border: 2px solid $primary-color;
}
%button3{
    color: $text-white;
    font-size: 14px;
    padding: 10px 1rem;
    border-radius: 6px;
    background-color: transparent; 
}
%button4{
    color: $text-color;
    background-color: $text-white;
    padding: 0.5rem 1.5rem;
    border: 2px solid transparent;
    border-radius: 6px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}